# Server
PORT=3000
NODE_ENV=development

# PostgreSQL
DATABASE_URL=postgresql://postgres:password123@localhost:5432/saludplus

# MongoDB
MONGO_URI=mongodb://localhost:27017/saludplus

# Data
SIMULACRO_CSV_PATH=./data/simulation_saludplus_data.csv
